* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}
/*
footer {
  background-color: rgb(66, 64, 64);
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
}*/

h1 {
  text-align: center;
  background-color: yellow;
  border-radius: 10px;
  margin-top: 3rem;
}
p {
  text-align: center;
}

main {
  margin-top: 3rem;
}
